nav, .container {
  padding-left: 0;
}

#logotipouenf {
	padding-left: 10px;
}

#login-container {
	padding-left: 0;
}



@media only screen and (max-width : 992px) {
  nav, .container {
    padding-left: 0;
  }
}

.reject-quebra {
  color: red;
}

.green {
  background-color: green;
}


/* -------------------- TESTE SELECT */

select{
	display: inline;
}

.tam-checkbox{
	width: 30px;
}

.tam-nome{
	width: 400px;
}

.tam-creditos{
	width: 40px;
}
