nav, .container {
  padding-left: 0;
}

#logotipouenf {
	padding-left: 10px;
}

#login-container {
	padding-left: 0;
}



@media only screen and (max-width : 992px) {
  nav, .container {
    padding-left: 0;
  }
}